@font-face {
    font-family: 'Founders-Grotesk';
    src: url('FoundersGrotesk-Regular.woff2') format('woff2'),
        url('FoundersGrotesk-Regular.woff') format('woff'),
        url('FoundersGrotesk-Regular.ttf') format('truetype'),
        url('FoundersGrotesk-Regular.svg#FoundersGrotesk-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
		font-family: 'Founders-Grotesk';
		font-size:13px;
		font-weight:normal;
		line-height:16px;
		width:100% !important;
		-webkit-text-size-adjust:none;
		margin:0;
		padding:0;
		-webkit-font-smoothing: antialiased;
		color: #000000;
		}
	img{
		border:0;
		outline:none;
		text-decoration:none;
		margin:0;
		padding:0;
		}
	/*  SECTIONS  */
.section.group {
	clear: both;
	padding: 0px;
	margin: 0px;
	max-width:800px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
.group :first-child{ border-left:1px solid #FFF; padding-left: 0%;}
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%;}
.span_2_of_3 { width: 64.13%;}
.span_1_of_3 { width: 29%; border-left:1px solid #000; padding-left: 2.16%;}
.span_1_of_3 img { float: left; }
.middle{
  vertical-align: middle;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}

